</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <div class="custom-footer">
    <p class="footer-text">Copyright © <%= new Date().getFullYear() %></p>
    <a class="footer-website" href="https://deng-dawn.github.io/Deng-homepage/index.html">Author Page</a>
  </div>
</footer>
</body>

</html>